Iremos ver como converter tipo de dados!

In [2]:
import pandas as pd

# Lendo o arquivo Excel
df = pd.read_excel(r'C:\Users\foxgh\OneDrive\√Årea de Trabalho\Data Science\Estudos & Projetos\Pandas\Dataset\Dataset.xlsx')

# Exibindo as primeiras linhas do dataset para verificar
df.head()

,UUID,IDCustomer,DTTransaction,Points
0,c00f1564-9f29-4e3a-b7d9-f20161e45a7f,dcta462j-313l-515fm-t6gh-6424er7845m2,2024-06-06 21:54:36,1577
1,cfd9ac73-6e80-4c17-8b59-d12bf7a22c7c,dcta849j-801l-228fm-t6gh-8918er7845m2,2024-07-08 21:19:36,394
2,54a23192-aabf-4937-8e8f-f8e65ca7059f,dcta880j-668l-412fm-t6gh-7273er7845m2,2024-01-27 14:03:36,55
3,0a7b7d6c-e1a4-4535-8041-655a80c598e5,dcta564j-790l-786fm-t6gh-1924er7845m2,2024-07-22 16:20:36,460
4,659f6f6c-d6c5-4bec-8ac2-2a3612d0e75c,dcta838j-174l-151fm-t6gh-3006er7845m2,2024-08-29 21:53:36,854

In [3]:
df.dtypes

UUID                     object
IDCustomer               object
DTTransaction    datetime64[ns]
Points                    int64
dtype: object

In [4]:
df['Points'].astype('str')

0     1577
1      394
2       55
3      460
4      854
      ...
95      16
96     271
97      74
98     440
99     830
Name: Points, Length: 100, dtype: object